@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 3em; }

h2, article {
  font-size: 1em; }

.botonera {
  background-color: rgba(253, 239, 247, 0.8);
  padding: 5px  10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%; }
  .botonera img {
    width: 100%; }
  .botonera ul {
    display: flex; }
    .botonera ul li {
      list-style: none; }
      .botonera ul li a {
        font-family: "roboto", sans-serif;
        color: black;
        font-size: 1em;
        text-decoration: none; }
        .botonera ul li a:hover {
          color: pink; }

body {
  background-color: #fdeff7; }

footer {
  background-color: rgba(48, 84, 250, 0.5);
  text-align: center;
  width: 100%; }
