//fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

$fontMain: 'roboto', sans-serif;

//variables textos


$textXl: 4em;
$textLg: 3em;
$textMd: 2em;
$textSm: 1em;

h1{
	font-size: $textLg;
}

h2, article{
	font-size: $textSm;
}
